<!-- partials/contact.html -->

<div style="height:140px;width:500px; background-color:lightgrey; position: relative;">  
    <div id="aller" style="height:70px;width:400px; background-color:white; padding-top:10px;">
        
        <div class="col-lg-2" style="text-align:center; ">
            <time class="icon">
              <em>Sept.</em>
              <span>20</span>
            </time>
        </div>    
        <div class="col-lg-3" style="text-align:center;">
            <span class="h4" style="font-weight:bold;">07:05</span>
            <span class="label label-primary">BUD</span>
        </div>
        
        <div class="col-lg-4" style="text-align:center;">
            <span class="h5">Direct</span>
            <div class="fly-arrow arrow-blue-direct" style="margin-top:-4px;"></div>
            
            <div class="leg-stops-green" style="margin-top:-9px;">2h20</div>
           

        </div>
        
        <div class="col-lg-3" style="text-align:center;">
            <span class="h4" style="font-weight:bold;">10:35</span>
            <span class="label label-primary">CDG</span>
        </div>
    </div>
    <div id="aller" style="height:70px;width:400px; background-color:white; padding-top:10px;">
        
        <div class="col-lg-2" style="text-align:center; ">
            <time class="icon">
              <em>Sept.</em>
              <span>20</span>
            </time>
        </div>    
        <div class="col-lg-3" style="text-align:center;">
            <span class="h4" style="font-weight:bold;">07:05</span>
            <span class="label label-primary">BUD</span>
        </div>
        
        <div class="col-lg-4" style="text-align:center;">
            <span class="h5">Direct</span>
            <div class="fly-arrow arrow-blue-direct" style="margin-top:-4px;"></div>
            
            <div class="leg-stops-green" style="margin-top:-9px;">2h20</div>
           

        </div>
        
        <div class="col-lg-3" style="text-align:center;">
            <span class="h4" style="font-weight:bold;">10:35</span>
            <span class="label label-primary">CDG</span>
        </div>
    </div>



</div>



<div class="stops">
    <span>2h 20</span>
    <ul class="stop-line">
        
        <li class="stop-line">
            <span class="visually-hidden">Direct</span>
        </li>
    </ul>
    <div class="leg-stops">
        <span class="leg-stops-green">Direct</span>
        <span class="leg-stops-station">
        
        </span>
    </div>
</div>
<div class="stops">
    <span>22h</span>
    <ul class="stop-line">
        
            <li class="stop-dot">
                <span class="visually-hidden">ATH</span>
            </li>
        
        <li class="stop-line">
            <span class="visually-hidden">1 escale</span>
        </li>
    </ul>
    <div class="leg-stops">
        <span class="leg-stops-red">1 escale</span>
        <span class="leg-stops-station">
        
            <span class="stop-station" data-station-id="9592">ATH</span>
        
        </span>
    </div>
</div>















<section>
    <h2>Page de contact</h2>
    <p>
        {{ message }}
    </p>
    <form>
        <textarea ng-model="msg"></textarea>
    </form>
    <p>
        <em>Votre message</em> :
        <blockquote>
            {{msg}}
        </blockquote>
    </p>
</section>