<!-- partials/contact.html -->


<div class="row">
    <div class="col-lg-3">
        <div class="travel-box">
        </div>
    </div>
    <div class="col-lg-5">
        <div class="row">
            <div class="travel-div" ng-repeat="travel in flySearch.subFlySearches[0].travels">
                <a href="##">
                    <div class="travel-box" style="padding-top:20px;">  
                        <div id="airline" class="travel-airlines h5">{{travel.airline}}</div>
                        <div id="price" class="col-xs-3 travel-price col-xs-push-9">
                            <div class="row h3" style="text-align:center;">{{travel.prices[1].price}} €</div>
                        </div>
                        <div id="aller" class="way-box col-xs-9 col-xs-pull-3">
                            <div class="row">
                                <div class="col-xs-2" style="text-align:center; ">
                                    <time class="icon">
                                      <em>{{travel.outwardTakeOffDate | date:'MMM'}}</em>
                                      <span>{{travel.outwardTakeOffDate | date:'dd'}}</span>
                                    </time>
                                </div>    
                                <div class="col-xs-3" style="text-align:center;">
                                    <span class="h4" style="font-weight:bold;">{{travel.outwardTakeOffDate | date:'HH:mm'}}</span>
                                    <span class="label label-success">{{travel.outwardDeparture.code}}</span>
                                </div>
                                <div class="col-xs-4" style="text-align:center;">
                                    <span class="h5">{{travel.outwardType}}</span>
                                    <div class="fly-arrow arrow-orange-direct" style="margin-top:-4px;"></div>
                                    <div class="leg-stops-green" style="margin-top:-9px;">{{travel.outwardDuration}}</div>
                                </div>
                                <div class="col-xs-3" style="text-align:center;">
                                    <span class="h4" style="font-weight:bold;">{{travel.outwardLandDate | date:'HH:mm'}}<h6 style="display:inline;" ng-hide="{{travel.outwardDayDiff}} == 0">(+1)</h6></span>
                                    <span class="label label-success">{{travel.outwardArrival.code}}</span>
                                </div>
                            </div>
                        </div>
                        <div id="retour" class="way-box col-xs-9">
                            <div class="row">
                                <div class="col-xs-2" style="text-align:center; ">
                                    <time class="icon">
                                      <em>{{travel.inwardTakeOffDate | date:'MMM'}}</em>
                                      <span>{{travel.inwardTakeOffDate | date:'dd'}}</span>
                                    </time>
                                </div>    
                                <div class="col-xs-3" style="text-align:center;">
                                    <span class="h4" style="font-weight:bold;">{{travel.inwardTakeOffDate | date:'HH:mm'}}</span>
                                    <span class="label label-success">{{travel.inwardDeparture.code}}</span>
                                </div>
                                <div class="col-xs-4" style="text-align:center;">
                                    <span class="h5">{{travel.inwardType}}</span>
                                    <div class="fly-arrow arrow-orange-direct" style="margin-top:-4px;"></div>

                                    <div class="leg-stops-green" style="margin-top:-9px;">{{travel.inwardDuration}}</div>


                                </div>
                                <div class="col-xs-3" style="text-align:center;">
                                    <span class="h4" style="font-weight:bold;">{{travel.inwardLandDate | date:'HH:mm'}}<h6 style="display:inline;" ng-hide="{{travel.inwardDayDiff}} == 0">(+{{travel.inwardDayDiff}})</h6></span>
                                    <span class="label label-success">{{travel.inwardArrival.code}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="btn-appear">
                    <div class="btn btn-default travel-hide-btn no-border" data-toggle="tooltip" title="Masquer ce vol" style="display: block;"><i class="glyphicon glyphicon-ban-circle"></i></div>
                    <div class="travel-btns col-xs-3">
                        <a href="" class="btn btn-default btn-block no-border">C'est Parti !</a>
                        <div class="btn-group btn-group-justified">
                            <p class="btn btn-default btn-lg no-border"><i class="glyphicon glyphicon-star-empty"></i></p>
                            <p class="btn btn-default btn-lg no-border"><i class="glyphicon glyphicon-share"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="travel-box" style="padding:20px;">
            <div class="row">
                <div class="col-xs-6">
                    <h4>200,00 €</h4>
                    <p>Air France</p>
                    <p>Economique</p>
                </div>
                <div class="col-xs-6">
                    <a href="" class="btn btn-default btn-lg btn-block no-border">C'est parti !</a>
                    <div class="btn-group btn-group-justified">
                        <p class="btn btn-default btn-lg no-border"><i class="glyphicon glyphicon-star-empty"></i></p>
                        <p class="btn btn-default btn-lg no-border"><i class="glyphicon glyphicon-share"></i></p>
                    </div>
                </div>
            </div>
            <p class="bg-success">
                <a>Go Voyages (267 €)</a>
                <a>Go Voyages (267 €)</a>
                <a>Go Voyages (267 €)</a>
            </p>
            <p class="bg-primary">Planification</p>
            <p class="bg-primary">Aller</p>
            <div class="row">
                <div class="col-xs-9">
                    <p>Air France - AF 287</p>
                </div>
                <div class="col-xs-3">
                    <p>2h30</p>
                </div>
                
            </div>

            <div class="row">
                <div class="col-xs-2 col-xs-offset-1">
                    <p>07h05</p>
                    <p>09:45</p>
                </div>
                <div class="col-xs-9">
                    <p>CDG Paris</p>
                    <p>BUD Budapest</p>
                </div>
            </div>
            <p>Correspondance 1</p>
            <p>Air France - AF 287</p>
            <div class="row">
                <div class="col-xs-2">
                    <p>07h05</p>
                    <p>09:45</p>
                </div>
                <div class="col-xs-4">
                    <p>CDG Paris</p>
                    <p>BUD Budapest</p>
                </div>
            </div>
            <p class="bg-primary">Retour</p>
            <p>Air France - AF 287</p>
            <div class="row">
                <div class="col-xs-2">
                    <p>07h05</p>
                    <p>09:45</p>
                </div>
                <div class="col-xs-4">
                    <p>CDG Paris</p>
                    <p>BUD Budapest</p>
                </div>
            </div>
            <p>Correspondance 1</p>
            <p>Air France - AF 287</p>
            <div class="row">
                <div class="col-xs-2">
                    <p>07h05</p>
                    <p>09:45</p>
                </div>
                <div class="col-xs-4">
                    <p>CDG Paris</p>
                    <p>BUD Budapest</p>
                </div>
            </div>   
        </div>
    </div>
</div>