<!-- partials/contact.html -->

<div class="row">
    <a href="http://www.maximoi200.com">
        <div class="travel-box">  
        <div id="airline" class="travel-airlines h4">Air France</div>
        <div id="price" class="col-xs-3 travel-price col-xs-push-9">
            <div class="row h3" style="text-align:center;">200 €</div>
            <div class="row"><a href="" class="btn btn-default btn-block no-border">Détails</a></div>
            <div class="row">
                <div class="btn-group btn-group-justified">
                    <p class="btn btn-default btn-lg no-border" ng-click="#"><i class="glyphicon glyphicon-star-empty"></i></p>
                    <p class="btn btn-default btn-lg no-border" ng-click="#"><i class="glyphicon glyphicon-share"></i></p>
                </div>
            </div>
        </div>
        <div id="aller" class="way-box col-xs-9 col-xs-pull-3">
            <div class="row">
                <div class="col-xs-2" style="text-align:center; ">
                    <time class="icon">
                      <em>Sept.</em>
                      <span>20</span>
                    </time>
                </div>    
                <div class="col-xs-3" style="text-align:center;">
                    <span class="h4" style="font-weight:bold;">07:05</span>
                    <span class="label label-success">CDG</span>
                </div>
                <div class="col-xs-4" style="text-align:center;">
                    <span class="h5">Direct</span>
                    <div class="fly-arrow arrow-orange-direct" style="margin-top:-4px;"></div>

                    <div class="leg-stops-green" style="margin-top:-9px;">2h20</div>


                </div>
                <div class="col-xs-3" style="text-align:center;">
                <span class="h4" style="font-weight:bold;">09:25</span>
                <span class="label label-success">CDG</span>
            </div>
            </div>
        </div>
        <div id="retour" class="way-box col-xs-9 col-xs-pull-3">
            <div class="row">
                <div class="col-xs-2" style="text-align:center; ">
                    <time class="icon">
                      <em>Sept.</em>
                      <span>27</span>
                    </time>
                </div>    
                <div class="col-xs-3" style="text-align:center;">
                    <span class="h4" style="font-weight:bold;">19:55</span>
                    <span class="label label-success">BUD</span>
                </div>
                <div class="col-xs-4" style="text-align:center;">
                    <span class="h5">Direct</span>
                    <div class="fly-arrow arrow-orange-direct" style="margin-top:-4px;"></div>

                    <div class="leg-stops-green" style="margin-top:-9px;">2h20</div>


                </div>
                <div class="col-xs-3" style="text-align:center;">
                    <span class="h4" style="font-weight:bold;">22:15<h6 style="display:inline;">(+1)</h6></span>
                    <span class="label label-success">CDG</span>
                </div>
            </div>
        </div>
        <p  type="button" class="btn btn-default source-button no-border" data-toggle="tooltip" data-placement="top" title="Masquer ce vol" data-original-title="Tooltip on top" style="display: block;"><i class="glyphicon glyphicon-ban-circle"></i></p >
    </div>
    </a> 
</div>
<div class="row">
    <div class="travel-box">  
        <div id="price" class="col-xs-3 travel-price col-xs-push-9">
            <div class="row h3" style="text-align:center;">200,00 €</div>
            <div class="row"><a href="#" class="btn btn-default btn-block">Détails</a></div>
            <div class="row">
                <div class="btn-group btn-group-justified">
                    <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-star-empty"></i></a>
                    <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-share"></i></a>
                </div>
            </div>
        </div>
        <div id="aller" class="way-box col-xs-9 col-xs-pull-3">

            <div class="col-xs-2" style="text-align:center; ">
                <time class="icon">
                  <em>Sept.</em>
                  <span>20</span>
                </time>
            </div>    
            <div class="col-xs-3" style="text-align:center;">
                <span class="h4" style="font-weight:bold;">07:05</span>
                <span class="label label-success">BUD</span>
            </div>

            <div class="col-xs-4" style="text-align:center;">
                <span class="h5">Direct</span>
                <div class="fly-arrow arrow-orange-direct" style="margin-top:-4px;"></div>

                <div class="leg-stops-green" style="margin-top:-9px;">2h20</div>


            </div>

            <div class="col-xs-3" style="text-align:center;">
                <span class="h4" style="font-weight:bold;">10:35</span>
                <span class="label label-success">CDG</span>
            </div>
        </div>
        <div id="retour" class="way-box col-xs-9 col-xs-pull-3">

            <div class="col-xs-2" style="text-align:center; ">
                <time class="icon">
                  <em>Sept.</em>
                  <span>21</span>
                </time>
            </div>    
            <div class="col-xs-3" style="text-align:center;">
                <span class="h4" style="font-weight:bold;">07:05</span>
                <span class="label label-success">BUD</span>
            </div>

            <div class="col-xs-4" style="text-align:center;">
                <span class="h5">Direct</span>
                <div class="fly-arrow arrow-orange-direct" style="margin-top:-4px;"></div>

                <div class="leg-stops-green" style="margin-top:-9px;">2h20</div>


            </div>

            <div class="col-xs-3" style="text-align:center;">
                <span class="h4" style="font-weight:bold;">10:35</span>
                <span class="label label-success">CDG</span>
            </div>
        </div>
    </div>
</div>


